@charset "utf-8";
/* CSS Document */


@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}


.padtop10{
	padding-top: 10px !important;
}
.padtop20{
	padding-top: 20px !important;
}
.padtop30{
	padding-top: 30px !important;
}
.padtop40{
	padding-top: 40px !important;
}
.padtop50{
	padding-top: 50px !important;
}
.padtop60{
	padding-top: 60px !important;
}
.padtop70{
	padding-top: 70px !important;
}
.padtop80{
	padding-top: 80px !important;
}
.padtop90{
	padding-top: 90px !important;
}


.padbot10{
	padding-bottom: 10px !important;
}
.padbot20{
	padding-bottom: 20px !important;
}
.padbot30{
	padding-bottom: 30px !important;
}
.padbot40{
	padding-bottom: 40px !important;
}
.padbot50{
	padding-bottom: 50px !important;
}
.padbot60{
	padding-bottom: 60px !important;
}
.padbot70{
	padding-bottom: 70px !important;
}
.padbot80{
	padding-bottom: 80px !important;
}
.padbot90{
	padding-bottom: 90px !important;
}



.font-mint-green{
	color: #1d9f68 !important;
}
.font-green-forest{
	color: #00663b !important;
}
.font-gray-smoke{
	color: #808080 !important;
}
.font-white{
	color: #ffffff !important;
}


.display-main{
    display: grid;
}

.hr-half {
    clear: both;
    max-width: 120px;
    height: 0;
    margin: 1.25rem 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid #1d9f68;
    border-left: 0;
}




/*menu*/
.a-sub-menu{
	color: inherit;
	transition: all 0.3s;
}
.a-sub-menu:hover{
	color: #00663b;
	transition: all 0.3s;
}
.pad-sub-detail{
	padding: 70px 0;
}


.section-stock{
	position: absolute; 
	width: 100%; 
	bottom: 115px;		
}	
.pad-stock{
	padding: 20px 15px;
	align-self: center;
}
.stock-frame{
	background-color: rgba(255, 255, 255, 0.8);
    padding: 0 !important;
    display: flex;
}
.img-stock{
    width: 65%;
    top: -5px;
    position: relative;
}
.h6-stock{
	font-size: 10px;
    margin: 3px 0;
}
.frame-stock{
	text-align: left;
	align-self: center;
}
.frame-img-stock{
	width: 45%;
}
.frame-center-stock{
	padding: 0;
}
.frame-right-stock{
    background-color: #1d9f68;
    right: -1px;
    position: relative;
}
.frame-left-stock{
	
}
.align-right-stock{
    text-align: left;
}
.align-center-stock {
    text-align: left;
    border-left: 1px solid #ccc;
    padding: 20px 15px 20px 30px;
    height: 110px;
}
.right-sub-stock{
	float: right;
}
.h6-center-stock{
	font-size: 12px;
	margin: 0;
}
.margin-right-stock{
	margin: 0 0 3px;
}

.display-welcome{
    display: flex;
}
.position-welcome {
    position: absolute;
    width: 100%;
    top: 250px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 75px 0;
}
.crop-banner-left{
	
}
.crop-banner-right {
    padding: 20px 0;
}


.bg-amg-frame{
    background-color: #1d9f68;
    text-align: center;
	width: 100%;
}
.bg-text-agm{
	background-color: #f6f6f6;
    display: flex;
    padding: 0 45px;
}

.wd-icon-agm{
	width: 7%;
}
.wd-text-agm{
	width: 93%;
}
.icon-agm{
	position: relative;
    top: 5px;
}
.pad-agm-1{
	padding-top: 35px;
}
.pad-agm-2{
	padding-top: 20px;
	padding-bottom: 35px;
}
.a-agm{
	color: #555555;
	transition: 0.25s;
}
.a-agm:hover{
	color: #0b341c;
	transition: 0.25s;
}
.border-agm{
	border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    display: flex;
}

.sub-banner-agm {
    position: absolute;
    text-align: center;
    width: 62.25%;
    color: #fff;
    padding: 55px 0;
}
.frame-agm{
	display: grid;
	padding: 125px 0 0;
}



/*news-stockprice*/
.content-newshot {
    transition: 0.25s;
    margin: 12px 25px 0 !important;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.ir-font h3{
	margin: 0 0 -10px;
}
.p-date{
	margin: 0 !important;
	color: #fff !important;
    line-height: 1.2;
}
.news-stockprice {
    padding: 65px 0;
}
.news-stockprice .news-wrap {
    display: inline-block;
    overflow: hidden;
}
.news-wrap .set-news {
    overflow: hidden;
    position: relative;
}
.ir-font h1 {
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 0.5px;
    color: #0f713c;
    margin: 0px;
    line-height: 25px;
}
.news-wrap .news-list {
    margin-bottom: 10px;
    background: #f0f0f0;
    transition: all 0.3s linear;
    overflow: hidden;
}
.news-wrap .news-list:hover {
	background: #ddd;
}
.news-list .bullet-date {
    background-color: #00663b;
    color: #fff;
    float: left;
    width: 65px;
    margin-right: 15px;
    text-align: center;
    padding: 25px 15px;
}
.ir-font p {
    margin: 12px 15px 0;
    color: #555555;
}
.news-wrap .date-detail {
    font-size: 15px;
    line-height: 0px;
    color: #222;
    margin-top: 20px;
    font-weight: bold;
}
.date-detail span {
    color: #1d9f68;
    font-weight: normal;
}
.set-news .more-btn {
    position: absolute;
    right: 4px;
    top: 0;
    transition: all 0.1s linear;
}
.set-news .more-btn:hover {
    position: absolute;
    right: 0;
    top: 0;
}

.set-news .more-btn-graph {
	position: absolute;
	bottom: -5px;
    right: 4px;
    transition: all 0.1s linear;
}
.set-news .more-btn-graph:hover {
	position: absolute;
    right: 0px;
    transition: all 0.1s linear;
}

.stockprice-wrap {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 60px 50px;
    margin-top: 80px;
    position: relative;
    height: 710px;
}
.display-stock{
    display: flex;
}
.frame-stock-set {
    display: inline-block;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    margin: 0 10px;
    border-radius: 10px;
}
.margin-stock {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: inline-block;
    padding: 25px 15px;
}
.text-stock-set {
    background-color: #00663b;
    color: #ffffff !important;
    margin: 0 !important;
    padding: 5px 0;
    text-align: center;
    border-top: 4px solid #83c8ab;
}
.hl-detail-stock{
	text-transform: none !important;
	text-align: center;
}
.sub-detail-stock{
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0 !important;
}
.frame-button-stock{
	text-align: center;
}



/*graph*/
.frame-graph {
    background-image: url(../images/banner-graph.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0;
}
.display-graph{
    display: inline-block;
	width: 100%;
}
.circle-finance{
	width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #1d9f68;
    border-radius: 15px;
    margin-right: 5px;
}

.display-highcharts{
    padding: 15px 0;
    background-color: #fff;
    border-bottom: 7px solid #177d52;
}
.display-calendar{
	padding: 0;
}
.highcharts-frame{
    display: flex;
	align-self: center;
    align-items: center;
    align-content: center;
    height: 417px;
    background-color: #fff;
}



/*meeting*/
.display-meeting{
    display: flex;
    padding: 65px 0;
}
.frame-meeting{
	align-self: center;
}
.frame-img-meeting{}

.a-meeting-icon {
    display: inline-flex;
    width: 50%;
    padding: 25px;
    border: 1px solid #dfdfdf;
}


.img-icon-meeting-1{
	background-image: url("../images/icon-meeting-1.png");
	background-repeat: no-repeat;
	width: 65px;
	height: 60px;
	transition: all 0.3s;
}
.img-icon-meeting-1:hover{
	background-image: url("../images/icon-meeting-1-hover.png");
	transition: all 0.3s;
}
.img-icon-meeting-2{
	background-image: url("../images/icon-meeting-2.png");
	background-repeat: no-repeat;
	width: 65px;
	height: 60px;
	transition: all 0.3s;
}
.img-icon-meeting-2:hover{
	background-image: url("../images/icon-meeting-2-hover.png");
	transition: all 0.3s;
}
.img-icon-meeting-3{
	background-image: url("../images/icon-meeting-3.png");
	background-repeat: no-repeat;
	width: 65px;
	height: 60px;
	transition: all 0.3s;
}
.img-icon-meeting-3:hover{
	background-image: url("../images/icon-meeting-3-hover.png");
	transition: all 0.3s;
}
.img-icon-meeting-4{
	background-image: url("../images/icon-meeting-4.png");
	background-repeat: no-repeat;
	width: 65px;
	height: 60px;
	transition: all 0.3s;
}
.img-icon-meeting-4:hover{
	background-image: url("../images/icon-meeting-4-hover.png");
	transition: all 0.3s;
}

.p-meeting {
    margin: 0 0 0 20px !important;
    width: 65%;
    font-size: 15px;
    align-self: center;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.p-meeting:hover{
	margin: 0;
	color: #00663b;
}

.border-meeting-1{
	border-left: 0px solid #fff;
    border-top: 0px solid #fff;
}
.border-meeting-2{
    border-top: 0px solid #fff;
    border-right: 0px solid #fff;
}
.border-meeting-3{
    border-bottom: 0px solid #fff;
    border-left: 0px solid #fff;
}
.border-meeting-4{
    border-bottom: 0px solid #fff;
    border-right: 0px solid #fff;
}

.crop-meeting-icon {
    display: table;
    padding: 55px 0;
}


/*annual*/
.display-annual{
	display: flex;
}
.frame-annual{
	background-image: url("../images/banner-annual.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0;
}
.annual-group {
    height: 555px;
    align-self: center;
    align-items: center;
    display: flex;
}
.annual-group-button {
    text-align: center;
    padding: 0 85px;
}
.annual-button{
	margin: 0 -5px;
}
.cover-current-home {
    /* height: 92px; */
    background-size: 100%;
    float: left;
    margin: 45px 20px;
    overflow: hidden;
    -webkit-box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
    -moz-box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
    box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
}



/*subscribe*/
.display-subscribe{
	display: flex;
}
.frame-subscribe {
    background-image: url(../images/banner-subscribe.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px 0;
}
.subscribe-group{
	height: 185px;
	align-self: center;
}
.subscribe-group-button {
    height: 185px;
    align-self: center;
    display: flex;
    align-items: center;
}
.button-subscribe{
	position: absolute;
    right: 15px;
}







/*chairman*/
.border-chairman{
    border: 5px #ccc solid;
    border-radius: 50%;
    margin-bottom: 30px;
}
.sign-chairman {
    float: right;
    overflow: hidden;
}


/*profile*/
.text-profile-sub {
    font-size: 14px !important;
    color: #086443 !important;
    text-decoration: underline !important;
}
.text_10 {
    font-size: 15px !important;
    color: #086443 !important;
}


/*governance*/
.pad-text-governance{
    padding-left: 75px;
}


/*dividend*/
.frame-chart {
    border: 1px solid #00804a;
    padding: 25px;
    height: 455px;
}
.cover-chat {
    padding: 25px;
    background-color: #1c6f52;
    height: 455px;
}
.text-id-year {
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
}
.cover-text-id {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.text-id-1 {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.text-id-2 {
    color: #ffffff;
    float: right;
}


/*stock quote*/
.stock-quote-frame {
    background-color: rgb(240, 240, 240);
    padding: 0 !important;
    display: grid;
}
.pad-stock-quote {
    padding: 78px 50px;
    background-color: #f0f0f0;
}
.bg-stock-quote-center {
    background-color: #292929;
    margin-top: 25px;
}
.align-center-stock-quote {
    text-align: left;
    border-right: 1px solid #4a4a4a;
    padding: 30px 10px 30px 35px;
    height: 130px;
}
.pad-stock-quote-bottom {
    padding: 55px 40px;
    align-self: center;
}
.frame-right-stock-quote {
    background-color: #1d9f68;
    position: relative;
}
.pad-main-left-stock-quote{
	padding-right: 15px;
}
.pad-main-right-stock-quote{
	padding-left: 15px;
}
.display-stock-quote {
    display: inline-block;
    text-align: center;
}
.right-sub-stock-quote {
    float: right;
}
.frame-center-stock-quote {
    padding: 0;
    display: flex;
}
.stockprice-wrap-quote {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 60px 50px;
    margin-top: 80px;
    position: relative;
   /* height: 740px;*/
}
.frame-stock-set-quote {
    display: inline-block;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    margin: 15px 10px;
    border-radius: 10px;
    text-align: center;
}
.text-sub-stock-quote{
	text-align: center;
}











/* responsive */
@media (max-width:1575px){
.section-stock{
	position: absolute; 
	width: 100%; 
	bottom: 200px;		
}	
.position-welcome {
    position: absolute;
    width: 100%;
    top: 175px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 55px 0;
}	
}

@media (max-width:1375px){
.section-stock {
    position: absolute;
    width: 100%;
    bottom: 210px;
}
.position-welcome {
    position: absolute;
    width: 100%;
    top: 145px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 45px 0;
}	
}

@media (max-width:1199px){
.frame-center-stock {
    padding: 0;
    display: flex;
}
.section-stock {
    position: absolute;
    width: 100%;
    bottom: 300px;
}
.position-welcome {
    position: absolute;
    width: 100%;
    top: 145px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 25px 0;
}	
	
.highcharts-frame {
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    height: 402px;
    background-color: #fff;
}	
.set-news .more-btn-graph {
    position: absolute;
    bottom: -5px;
    right: 15px;
    transition: all 0.1s linear;
}	
	
.pad-main-left-stock-quote{
	padding-right: 0;
	margin: 25px 0;
}
.pad-main-right-stock-quote{
	padding-left: 0;
	margin: 25px 0;
}
	
.display-stock-quote {
    display: block;
    text-align: center;
}
.text-sub-stock-quote{
	text-align: center;
}
.stockprice-wrap-quote {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 60px 50px;
    margin-top: 80px;
    position: relative;
    height: auto;
}	
}

@media (max-width:991px){
.display-main {
    display: flow-root;
}	
.section-stock {
	display: none;
}	
.pad-text-governance {
    padding-left: 15px;
    padding-top: 55px;
}	
.right-sub-stock {
    float: inherit;
}
.margin-right-stock {
    margin: 0 0 10px;
}
	
.bg-text-agm {
    background-color: #f6f6f6;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
}
.wd-icon-agm {
    width: 12%;
}	
	
.news-wrap .news-list {
    margin-bottom: 20px;
    background: #f0f0f0;
    transition: all 0.3s linear;
    overflow: hidden;
}
.news-list .bullet-date {
    background-color: #00663b;
    color: #fff;
    float: left;
    width: 65px;
    margin-right: 15px;
    text-align: center;
    padding: 35px 15px;
}
.news-wrap .date-detail {
    font-size: 15px;
    line-height: 0px;
    color: #222;
    margin-top: 30px;
    font-weight: bold;
}	
.content-newshot {
    transition: 0.25s;
    margin: 12px 25px 10px !important;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.display-stock {
    display: block;
    text-align: center;
}	
.stockprice-wrap {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 60px 50px;
    margin-top: 80px;
    position: relative;
    height: auto;
}
	
.frame-graph {
    background-image: url(../img/banner-graph.html);
    padding: 115px 115px;
}	
.pad-financial-all{
	padding: 35px 15px;	
}
.set-news .more-btn-graph {
    position: absolute;
    bottom: 30px;
    right: 15px;
    transition: all 0.1s linear;
}
	
.display-meeting {
    display: grid;
    padding: 65px 0;
}	
.frame-img-meeting {
    text-align: center;
    padding: 75px 0 0;
}
	
.frame-subscribe {
    background-image: url(../img/banner-subscribe.html);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 125px 0;
}	
	
	
.frame-chart {
    border: 1px solid #00804a;
    padding: 25px;
    height: auto;
}	
.cover-chat {
    padding: 25px;
    background-color: #00804a;
    height: auto;
}	
	
.display-annual {
    display: grid;
}	
.annual-group-button {
    text-align: center;
    padding: 0 250px;
    display: grid;
}	
.annual-group {
    height: auto;
    align-self: center;
    align-items: center;
    display: flex;
    padding-top: 25px;
	padding-bottom: 25px;
}	
}

@media (max-width:767px){
.display-main {
    display: flow-root;
}	
.pad-sub-detail {
    padding: 35px 0;
}	
.position-welcome {
    position: relative;
    width: 100%;
    top: -5px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}
.crop-banner-right {
    padding: 20px 15px;
}	

.wd-icon-agm {
    width: 7%;
}
	
.stockprice-wrap {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 35px 0px;
    margin-top: 80px;
    position: relative;
    height: auto;
}
.stockprice-wrap p {
	margin: 0 45px;
}
.frame-stock-set {
    display: inline-block;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    margin: 10px 10px;
    border-radius: 10px;
}	
	
.frame-graph {
    background-image: url(../img/banner-graph.html);
    padding: 75px 55px;
}	
	
.display-subscribe {
    display: grid;
}
.frame-subscribe {
    background-image: url(../img/banner-subscribe.html);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 75px;
}
.subscribe-group {
    height: auto;
    padding-bottom: 25px;
    align-self: center;
}	
.subscribe-group-button {
    height: auto;
    align-self: center;
    display: flex;
    align-items: center;
}	
.button-subscribe {
    position: relative;
    right: 0;
}	
	
.frame-center-stock-quote {
    padding: 0;
    display: grid;
}	
.align-center-stock-quote {
    text-align: left;
    border-bottom: 1px solid #4a4a4a;
    padding: 30px 10px 30px 35px;
    height: 130px;
}	
	
.align-center-stock-quote h4, .h4 {
    font-size: 2.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
}
	
.annual-group-button {
    text-align: center;
    padding: 0 155px;
    display: grid;
}	
}

@media (max-width:574px){
.bg-text-agm {
    background-color: #f6f6f6;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}	
.wd-icon-agm {
    width: 12%;
}
	
.news-wrap .date-detail {
    font-size: 14px;
    line-height: 0px;
    color: #222;
    margin-top: 25px;
    font-weight: bold;
}
.content-newshot {
    transition: 0.25s;
    margin: 17px 15px 10px !important;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}	

.stockprice-wrap p {
    margin: 0 15px;
}	
	
.button.main-border {
    background-color: #ffffff;
    color: #0d3d21;
    border: 1px solid #1d9f68;
    font-weight: bold;
    margin: 10px 7px !important;
}	
.frame-graph {
    background-image: url(../img/banner-graph.html);
    padding: 55px 25px;
}

.set-news .more-btn-graph {
    position: relative;
    bottom: -5px;
    right: 0;
    left: 0;
    transition: all 0.1s linear;
}
	
.a-meeting-icon {
    display: inline-flex;
    width: 100%;
    padding: 25px 15px;
    border: 1px solid #dfdfdf;
}
	
.border-meeting-1{
	border-left: 0px solid #fff;
	border-top: 0px solid #fff;
	border-right: 0px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}
.border-meeting-2{
	border-left: 0px solid #fff;
	border-top: 0px solid #fff;
	border-right: 0px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}
.border-meeting-3{
	border-left: 0px solid #fff;
	border-top: 0px solid #fff;
	border-right: 0px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}
.border-meeting-4{
	border-left: 0px solid #fff;
	border-top: 0px solid #fff;
	border-right: 0px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}
	
.frame-subscribe {
    background-image: url(../img/banner-subscribe.html);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}	
.pad-stock-quote {
    padding: 60px 15px;
    background-color: #f0f0f0;
}	
	
.stockprice-wrap-quote {
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    background: #f0f0f0;
    padding: 25px 10px;
    margin-top: 80px;
    position: relative;
    height: auto;
}	
	
.annual-group-button {
    text-align: center;
    padding: 0 55px;
    display: grid;
}
.frame-annual {
    background-image: url(../img/banner-annual.html);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
}	
}


@media (max-width:425px){
.frame-graph {
    background-image: url(../img/banner-graph.html);
    padding: 25px 0;
}
.pad-financial-all {
    padding: 35px 5px;
}	
	
.frame-chart {
    border: 1px solid #00804a;
    padding: 0;
    height: auto;
}
.text-sub-stock-quote {
    text-align: left;
}	
	
.annual-group-button {
    text-align: center;
    padding: 0 25px;
    display: grid;
}	
}





