body{
	margin:0px;
}

td{
 font-family: "Kanit", sans-serif;
 font-size:13px;
}

a.web:link {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}
a.web:visited {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}
a.web:hover {
	FONT: 13px "Kanit", sans-serif;color: #00A450; text-decoration: none;/*font-weight:bold;*/
}
a.web:active {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}


a.web2:link {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}
a.web2:visited {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}
a.web2:hover {
	FONT: 13px "Kanit", sans-serif;color: #00A450; text-decoration: none/*;font-weight:bold;*/
}
a.web2:active {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;/*font-weight:bold;*/
}


a.news_link:link {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:normal;
}
a.news_link:visited {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:normal;
}
a.news_link:hover {
	FONT: 13px "Kanit", sans-serif;color: #000000; text-decoration: none;font-weight:normal;
}
a.news_link:active {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:normal;
}

.news_date{
FONT: 12px "Kanit", sans-serif;
COLOR: #00a450;
TEXT-DECORATION: none;
font-weight: bold;
}

/* +++++++++++++++++ No Information +++++++++++++++++++ */
.bgcolor_no_information{background-color: #eaeae9;}
.bgcolor_no_information1{background-color: #FFFFFF;}
.no_information{
  /* font-family: "Kanit", sans-serif;*/
	color: #FF0000; 
	font-size:15px;
	font-weight: normal
	}	
.color_hr{color:#CCCCCC;}
/* +++++++++++++++++ Style button +++++++++++++++++++ */
.style_button{

	cursor:pointer;
	FONT-SIZE:12px;
}
/* +++++++++++++++++ Disclaimer +++++++++++++++++++ */
/*.bgcolor_disclaimer1{background-color: #CCCCCC;}*/
.bgcolor_disclaimer2{background-color:#FFFFFF;}
.bgcolor_disclaimer3{background-color:#F3F4F5;}
 /* +++++++++++++++++ News Cilpping +++++++++++++++++++ */
/*.bgcolor_clipping1{background-color: #CCCCCC;}*/
.bgcolor_clipping2{background-color: #E8EBEE;}
.bgcolor_clipping3{background-color: #eaeae9;}
.bgcolor_clipping4{background-color: #F3F4F5;}
.style_font_head_table{color: #555555;font-weight: bold;}
.font_title_datetime{font-weight: bold}
/*-----------------------------------calendar-------------------------------------------------*/
.ic_font_datetime{font-family: Tahoma;}
.ic_font_item{font-size:x-small;}
/*.bgcolor_calendar1{background-color:#CCCCCC; } */
.bgcolor_calendar2{background-color:#E8EBEE;}   
.bgcolor_calendar3{background-color:#FFFFFF;}	
.bgcolor_calendar4{background-color:#F3F4F5;}	
.color_hr_calendar{color:#D7D7D7;}
 /* +++++++++++++++++ Annual Report +++++++++++++++++++ */
/*.bgcolor_annual1{background-color:#CCCCCC;}*/
.bgcolor_annual2{background-color:#CDEEDA;}
.bgcolor_annual3{background-color:#FFFFFF;}
 /* +++++++++++++++++ Major +++++++++++++++++++ */
/*.bgcolor_major1{background-color:#CCCCCC;}*/
.bgcolor_major2{background-color:#E8EBEE;}
.bgcolor_major3{background-color:#FFFFFF;}
.bgcolor_major4{background-color:#F3F4F5;}
 /* +++++++++++++++++ Analyst Report +++++++++++++++++++ */
/*.bgcolor_analyst1{background-color:#CCCCCC;}*/
.bgcolor_analyst2{background-color:#E8EBEE;}
.bgcolor_analyst3{background-color:#FFFFFF;}
.bgcolor_analyst4{background-color: #F3F4F5;}
 /* +++++++++++++++++ webcasts multimedia +++++++++++++++++++ */
/*.wp_color1{background-color: #CCCCCC;}*/
.wp_color2 {background-color: #E8EBEE;}
.wp_color3 {background-color: #FFFFFF;}
.wp_color4 {background-color: #F3F4F5;}
 /* +++++++++++++++++ FAQs+++++++++++++++++++ */
.bgcolor_faq1{background-color: #F3F8F8;}

 /* +++++++++++++++++ Financial statement+++++++++++++++++++ */
.fi_head_table{color:#555555; font-weight: bold;font-size: 12px;  font-family: "Kanit", sans-serif;}
.style_finance_group{color:#555555; font-weight: bold; font-size: 12px; font-family: "Kanit", sans-serif;}
.fontcolor_finance_value{color:#555555;font-size:11px;  font-family: "Kanit", sans-serif;}

.color_1{background-color:#E8EBEE;}   
.color_2{background-color: #F3F4F5;} 
.color_3{background-color: #F3F8F8;}
.color_4{background-color:#C0C9D1;} 
.color_5{background-color: #FFFFFF;}
.color_6{background-color: #5D6363;}
.color_7{background-color: #FFE1E1;}
.color_8{background-color:#CCCCCC;}   
.color_9{background-color:#E8EBEE;}   
.download_fi_bg_color1{background-color: #CCCCCC;}
.download_fi_bg_color2{background-color: #4773B2;}
.download_fi_bg_color3{background-color: #F3F8F8;}
.download_fi_bg_color4{background-color: #FFFFFF;}
.download_fi_font1{color:#FFFFFF; font-weight:bold;}

a.finance:link {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}
a.finance:visited {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}
a.finance:hover {
	FONT: 13px "Kanit", sans-serif;color: #00A450; text-decoration: none;font-weight:bold;
}
a.finance:active {
	FONT: 13px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}

a.fi_year:link {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}
a.fi_year:visited {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}
a.fi_year:hover {
	FONT: 12px "Kanit", sans-serif;color: #00A450; text-decoration: none;font-weight:bold;
}
a.fi_year:active {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight:bold;
}
 /* +++++++++++++++++ style for send mail+++++++++++++++++++ */
.ad_bgcolor_1{background-color:#FFFFFF}
.style41_sp{font-weight: bold;color: #FFFFFF; font-size:small}
.style_in_form {
	font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.style_title {
	font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;
	font-size: medium;
	color: #333333;
}
.style_title_a {
	font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;
	font-size: medium;	
	color: #4773B2;
	font-weight: bold;
}
.style49 {
font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;
font-size: 11px;	
color: #333333;
}
.stylefont_a{font-size: 12px; color: #333333; font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;}
.stylefont{font-size: 12px; color: #333333;font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;}
.fontcolor2{
	 font-family: "Kanit", sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color:#000000;
}
.fontcolor3{
	 font-family: "Kanit", sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color:#333333;
}
.bgcolor_send_mail{background-color: #E6E6E6;}
.bgcolor_send_mail1{background-color: #F4F4F4;}
.bgcolor_send_mail2{background-color: #F4F4F4;}
.font_footer_send_mail {color: #666666;font-family: "Segoe UI", tahoma, Verdana, Sans-Serif;font-size: 10px;}
}
.style18 {font-family: "Segoe UI", tahoma, Verdana, Sans-Serif; font-weight: bold; font-size: 12px; color: #646464; }
/* +++++++++++++++++ End SET Style Sheet By Bowl  +++++++++++++++++++ */

/* +++++++++++++++++++ For Calculator 22-04-2010 +++++++++++++++++++ */
.stylestock{color:#067DD0;}
.stylestock2{color:#0944AE;font-weight: bold;}
.styleTotal{color:#555555;font-weight: bold;}
.td_color_BarTitle_Stock{
	height:36px; background-image:url("images/bg_stock.html");	FONT: bold 12pt/14pt 'Tahoma'; COLOR: #28B587; TEXT-DECORATION: none;}
/*.ir_tableBorder {border: 1px solid #BED8F3;}*/
table.ir_table tr.ir_tableTopRow td {background: #008341; color:#ffffff; font-weight: bold; text-align: center;}
table.ir_table tr.row1 td {background: #E8EBEE;}
table.ir_table tr.row2 td {background: #F3F4F5;}
table.ir_table tr.rowRollover td {background: #c3b777;}
table.ir_table tr.rowHighlight td {background: #414141; color:#ffffff;}
table.ir_table tr td.left {text-align: left;}
table.ir_table tr td.center {text-align: center;}
table.ir_table tr td.right {text-align: right;}
table.ir_table tr td.cellHighlight {background: #414141; color:#ffffff;}
table.ir_table tr td.cellTotal {border-top: 1px solid #414141; border-bottom: 1px solid #414141;}
table.ir_table tr td.cellSubTotal {border-top: 1px solid #414141;}
input.ir_investmentCalculator { border:0px; background: transparent;}
.cellinput {background-color: #FFFFFF;border-top: 1px solid #BED8F3; border-bottom: 1px solid #BED8F3; border-left: 1px solid #BED8F3; border-right: 1px solid #BED8F3;text-align: right;}
.messageError {background-color: #FFFFFF;border-top: 0px solid #FFFFFF; border-bottom: 0px solid #FFFFFF; border-left: 0px solid #FFFFFF; border-right: 0px solid #FFFFFF;color:#FF0000;font-size: 11px;width:150px}
.noMessageError {background-color: #FFFFFF;border-top: 0px solid #FFFFFF; border-bottom: 0px solid #FFFFFF; border-left: 0px solid #FFFFFF; border-right: 0px solid #FFFFFF;color:#FFFFFF;font-size: 11px;width:0px;}
.noCorrect {background-color: #EBF3FC;border-top: 1px solid #BED8F3; border-bottom: 1px solid #BED8F3; border-left: 1px solid #BED8F3; border-right: 1px solid #BED8F3;text-align: right;}
.Correct {background-color: #FFFFFF;border-top: 1px solid #BED8F3; border-bottom: 1px solid #BED8F3; border-left: 1px solid #BED8F3; border-right: 1px solid #BED8F3;text-align: right;}
.font_calculator{color:#00A450;font-weight: bold;}

/* ++++++++++++++++++ Add highlight row ir calendar support smart By Bowl 28-06-2010 ++++++++++++++++++ */
.bgcolor_calendar_highlight{background-color: #A7BCDC;}

/*News for financial and financial yearly*/
.bgcolorfinancialdetail{PADDING-BOTTOM: 0px; BACKGROUND: #FFFFFF; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.fontcolor_finance_value1{color:#6B6B6B;font-size:13px; padding: 5px;}
.yearly_bg_color1{ background-color:#C0C9D1;}
.yearly_bg_color2{background-color: #E8EBEE;}
.fi_active{font-family: "Segoe UI", tahoma, Verdana, Sans-Serif; FONT-SIZE: 13px;color:#00A450;font-weight:bold;}

.activepage{FONT-SIZE: 13px;color:#00A450; font-weight:bold;}

a.page:link {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight: normal;
}
a.page:visited {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight: normal;
}
a.page:hover {
	FONT: 12px "Kanit", sans-serif;color: #00A450; text-decoration: none;font-weight: normal;
}
a.page:active {
	FONT: 12px "Kanit", sans-serif;color: #555555; text-decoration: none;font-weight: normal;
}
/* ************************* Add By Bowl 09/08/2011 ************************* */
.bg_mainmenuleft {
	background-color : #E6E6E6;
	PADDING: 4px 4px 4px 4px;
	width: 170px;
	font-weight: bold;
}
.style11 {	font-size: 12px;
	color: #333333;
}

/* ++++++++++++++++++ Revise Style sheet By Bowl  ++++++++++++++++++ */

/*input{background-color:#FFFFFF;height:20px;border-top: 2px solid #BEBEBE; border-bottom: 2px solid #BEBEBE; border-left: 2px solid #BEBEBE; border-right: 2px solid #BEBEBE;}*/
.style_button{background-color:#076343;height:40px;border-top: 1px solid #eaeae9; border-bottom: 1px solid #eaeae9; border-left: 1px solid #eaeae9; border-right: 1px solid #eaeae9;/*padding: 10px;*/min-width: 60px;width:auto; cursor:pointer;color:#FFF;/*font-weight:bold;*/font-family: "Kanit", sans-serif;}
.style_button:hover{background-color:#1e7154;height:40px;border-top: 1px solid #eaeae9; border-bottom: 1px solid #eaeae9; border-left: 1px solid #eaeae9; border-right: 1px solid #eaeae9;/*padding: 10px;*/min-width: 60px;width:auto; cursor:pointer;color:#FFF;/*font-weight:bold;*/font-family: "Kanit", sans-serif;}
.style_combo{background-color:#FFFFFF;height:25px;border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-left: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE;}
.style_text_area{background-color:#FFFFFF;border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-left: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE;}
.style_textbox{background-color:#FFFFFF;border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-left: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE;}
/*........................................................*/
input[type='text'] {
	background-color:#FFFFFF;border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-left: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE;
}

input[type='checkbox'] {
	POSITION: absolute; opacity: 0
	OUTLINE-STYLE: solid; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px;POSITION: static;
}
input[type='radio'] {
	POSITION: absolute; opacity: 0
	OUTLINE-STYLE: solid; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px;POSITION: static;
}


/* +++++++++++++++++ email alert & inquiry +++++++++++++++++++ */
.font_contact_ir{color: #3F9A80;}
.font_email{color: #00A450;}
.font_email2{color: #00A450;}
.line_dashed{ width:100%; border-bottom:1px dashed #666666; padding:0px 0px 10px 0px;}
.bg_email_alert{background-color: #FFF;
	border-top: 5px solid #1e7154  !important;
	border-bottom: 5px solid #1e7154  !important;
	border-left: 5px solid #1e7154  !important;
	border-right: 5px solid #1e7154  !important;
}
.bg_email_alert2{background-color: #FFFFFF;}
.bg_email_alert3{background-color: #eaeae9;width:1px;}
.bg_email_alert4{background-color: #F9F9F9;
 border-top: 1px solid #e8e8e8 !important;
    border-bottom: 1px solid #e8e8e8 !important;
    border-left: 1px solid #e8e8e8 !important;
    border-right: 1px solid #e8e8e8 !important;
}
.bg_email_alert5{background-color: #FFF;}
.bg_email_alert6{background:url(images/space.html) fixed #E8EBEE;}
.bg_email_alert7{background:url(images/space.html) fixed #F3F4F5;}

.font_Inquiry3{ FONT: 25px "Segoe UI", tahoma, Verdana, Sans-Serif; color:#000000;font-weight: bold;}
.bgcolor_Inquiry1{background-color: rgba(64, 64, 65, 0.09);cursor:pointer}
.bgcolor_Inquiry2{background-color: rgba(64, 64, 65, 0.09);cursor:pointer}
.bgcolor_Inquiry1:hover{background-color: rgba(64, 64, 65, 0.03);cursor:pointer}
.bgcolor_Inquiry2:hover{background-color: rgba(64, 64, 65, 0.03);cursor:pointer}
.bgcolor_Inquiry4{background-color: #F9F9F9;}
/*.bgcolor_Inquiry3{background-color: #EAF2EF;}*/

.bgcolor_InquiryTap{background-color: #E8EBEE;height:50px;text-align:center;}
.bgcolor_InquiryTap2{background-color: #076343;height:50px;font-weight: bold;text-align:center;color:#FFF;}
.bgcolor_InquiryTap3{background-color: #038d4e;height:50px;font-weight: bold;text-align:center;color:#FFF;}

.bg_sign_in1{background-color: #FFF;}
.bg_sign_in2{background-color: #FFF;}
.bg_sign_in3{background-color: #FFF;}

.bg_in_quiry1{background-color: #EAF2EF;padding: 5px;}
.bg_in_quiry2{background-color: #FFFFFF;padding: 5px;}
.bg_in_quiry3{background-color: #C0C9D1;padding: 5px;}
.bg_in_quiry4{background-color: #CDEEDA;padding: 5px;}
.bg_in_quiry5{background-color: #FFFFFF;padding: 5px;}
.bg_in_quiry6{background-color: #FEFCEC;padding: 5px;}
.bg_in_quiry7{background-color: #CDEEDA;padding: 5px;}
.bg_in_quiry8{background-color: #FFFFFF;padding: 5px;}
.bg_in_quiry9{background-color: #C0C9D1;padding: 5px;}

 .font_inquiry{
	FONT: 12px;  COLOR: #666666; TEXT-DECORATION: none;  font-weight: bold; 
}
.font_inquiry2{
	FONT: 12px;  COLOR: #666666; TEXT-DECORATION: none;
}
.font_inquiry3{
	FONT: 13px;  COLOR: #666666; TEXT-DECORATION: none; font-weight: bold; 
}

 /* +++++++++++++++++ FAQs+++++++++++++++++++ */
.bgcolor_faq1{cursor:pointer;}
.bgcolor_faq2{background-color: #FFFFFF;}
.bgcolor_faq3{background-color: #F3F3F3;padding:3px;}
.font_faqs{
	font-family: "Kanit", sans-serif COLOR: #888; font-weight: bold; font-size:15px; padding-bottom:5px;
}.font_faqs2{
	font-family: "Kanit", sans-serif COLOR: #888; font-size:13px;
}
.bgcolor_faq4 {
	width: 100%;
	background: #F4F4F4;
	/*border-bottom:1px dashed #666666; */
}
.bgcolor_faq5{border: 3px solid #D1D1D1;}
.bgcolor_faq6{cursor:pointer}
.bgcolor_faq6:hover{background-color: #E1F0FF;cursor:pointer}
.bgcolor_faq7{cursor:pointer}
.bgcolor_faq7:hover{background-color: #E1F0FF;cursor:pointer}

.font_faq_Q{font-family: "Kanit", sans-serif color:#4A91E9;font-weight: bold; font-size:14px;}
.font_faq_Q2{font-family: "Kanit", sans-serif color:#4A91E9;font-weight: bold; font-size:13px;}
.font_faq_A{font-family: "Kanit", sans-serif color:#333333;font-weight: bold;font-size:14px;}
.font_datetime_new{font-family: 'PSL160Pro'; COLOR: #5D5D5D; TEXT-DECORATION: none; font-weight: bold;}

.font_all{font-family: "Kanit", sans-serif FONT-SIZE: 13px; }
.faq_more_ques{background-color:#D2D2D2;color:#333333;height:30px;WIDTH:180px;font-weight: bold; }



.spaceline{FONT-SIZE: 14px;font-family: "Kanit", sans-serif; PADDING-bottom: 5px; }
.font_normal{FONT-SIZE: 14px;font-family: "Kanit", sans-serif;}


 /* +++++++++++++++++ Form 56-1 +++++++++++++++++++ */
.bgcolor_form56_1{background-color:#CCCCCC;}
.bgcolor_form56_2{background-color:#4773B2;height:25px;}
.bgcolor_form56_3{background-color:#F3F8F8;}
.bgcolor_form56_4{background-color:#FFFFFF;}

 /* +++++++++++++++++ Public Relation +++++++++++++++++++ */
.table_pr{width:280px;background-color: #E5E5E5; border-top: 1px solid #050606 !important;
    border-bottom: 1px solid #050606 !important;
    border-left: 1px solid #050606 !important;
    border-right: 1px solid #050606 !important;}
.image_pr{width:280px;height: 173px;}
.content_pr{background-color: #FFFFFF;}
.title_pr{height: 21px;overflow:hidden;color:#1d7053;font-weight:bold;font-size:13px;}
.detail_pr{height: 29px;overflow:hidden;font-size:13px;}
.datetime_pr{font-size:12px;color:#000000;}
a.pr:link {
	color: #555555;
	text-decoration: none;
	font-weight:bold;
	font-size:13px;
}
a.pr:visited {
	text-decoration: none;
	color: #555555;
	font-weight:bold;
	font-size:13px;
}
a.pr:hover {
	text-decoration: none;
	color: #000000;
	font-weight:bold;
	font-size:13px;
}
a.pr:active {
	text-decoration: none;
	color: #555555;
	font-weight:bold;
	font-size:13px;
}

.font_gm{
FONT: 13px "Segoe UI", tahoma, Verdana, Sans-Serif; 
}

.color_gm_head{
background-color:#FFFFFF;
}

.color_gm_head_1{
background-color:#C0C9D1;
height:35px;
color:#666666;
font-family: "Kanit", sans-serif; 


}
.color_gm{
background-color:#F3F4F5;
height:25px;
}
.color_gm_2{
background-color:#F3F4F5;
height:40px;
}
.color_gm_3{
background-color:#F3F4F5;
height:65px;
}


/*  +++++++++++++++++++ Add for General Meeting of Sharehoders +++++++++++++++++++ */
#nav-sub-meeting{margin: 0; padding: 0;}
#nav-sub-meeting .here{font-weight: bold;color: #000;}
#nav-sub-meeting li.sub-level-meeting{margin: 0px 0;list-style: none;}
#nav-sub-meeting li.sub-level-meeting div{   padding: 0px; cursor: pointer;}
#nav-sub-meeting li.sub-level-meeting div:hover{ text-decoration: none;}
#nav-sub-meeting li.sub-level-meeting.sub-collpase ul{display: none;margin-bottom:0px;}
#nav-sub-meeting li.sub-level-meeting ul{margin: 0;padding: 0px 0;}
#nav-sub-meeting li.sub-level-meeting ul li
{     
    text-align:left;
    vertical-align:top;
    list-style: none;
    padding-bottom:0px;
    border:solid 0px #000;
}


#nav-sub-meeting li.sub-level-faqs ul li.help-item-last{border: none;}
li.sub-level-meeting div{ border:solid 0px #000; margin-left:0px; margin-right:0px; margin-top:0px;margin-bottom:0px; cursor:hand;}
#nav-sub-meeting ul {display: none;}

a.treeview:link {
	color: #555555;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
a.treeview:visited {
	color: #555555;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
a.treeview:hover {
	color: #00A450;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
a.treeview:active {
	color: #555555;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}

.fonttreeview {
	color: #FFF;
	/*font-weight:bold;*/
	font-size: 15px;
	text-decoration: none;
}
a .fonttreeview:hover {
	color: #555555;
	font-weight:bold;
	font-size: 12px;
	text-decoration: none;
}
a.treeviehead:link {
	color: #555555;
	font-weight:bold;
	font-size: 12px;
	text-decoration: none;
	padding-left:5px;
}
a.treeviehead:visited {
	color: #555555;
	font-weight:bold;
	font-size: 12px;
	text-decoration: none;
	padding-left:5px;
}
a.treeviehead:hover {
	color: #555555;
	font-weight:bold;
	font-size: 12px;
	text-decoration: none;
	padding-left:5px;
}
a.treeviehead:active {
	color: #555555;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	padding-left:5px;
}

.font_title_treeview_datetime { COLOR: #93328f; FONT-SIZE: 11px; FONT-WEIGHT: bold}
.fonthead_meeting {font-family: "Kanit", sans-serif; COLOR: #FFAC59; FONT-SIZE: 12px; FONT-WEIGHT: bold; background-color:#F9F9F9;}
.fontsubhead_meeting {font-family: "Kanit", sans-serif;  COLOR: #555555; FONT-SIZE: 14px; FONT-WEIGHT: normal;}
.fontsubhead_meeting:hover{font-family: "Kanit", sans-serif;  COLOR: #00A450; FONT-SIZE: 14px; FONT-WEIGHT: normal;}
.fontnolinkmeeting {font-family: "Kanit", sans-serif;  COLOR: #555555; FONT-SIZE: 14px; FONT-WEIGHT: normal;}
.fontnolinkmeeting:hover{font-family: "Kanit", sans-serif;  COLOR: #00A450; FONT-SIZE: 14px; FONT-WEIGHT: normal;}
.fontsubhead {font-family: "Kanit", sans-serif;  COLOR: #F9F9F9; FONT-SIZE: 12px; FONT-WEIGHT: bold;}
.clildmenu_visibled{display:none !important;}


/* .................. Fact Sheet .................. */
.header_factsheet { BACKGROUND-COLOR: #038D4E; font-family: "Kanit", sans-serif; FONT-SIZE: medium; FONT-WEIGHT: bold;}
.header_factsheet td 
{
	border-bottom: 4px solid #1B6E51;
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 1px; 
	HEIGHT: 1px; 
	PADDING-TOP: 5px;  
}

/* .................. Channel Complaints .................. */
.cp_txt{
	font: 13px "Kanit", sans-serif;
	color:#555555;
}
.btn_cp{
	background-color:#4E4E4E;
	height:30px;
	/*border-top: 2px solid #4E4E4E; 
	border-bottom: 2px solid #4E4E4E; 
	border-left: 2px solid #4E4E4E;
	border-right: 2px solid #4E4E4E;*/
	padding: 5px 5px 5px 5px;
	min-width:80px;
	width: auto;
	color:#FFFFFF;
	cursor:pointer;
	font: 13px Tahoma, Geneva, sans-serif;
	/*font-weight:bold;*/
}
.btn_cp:hover{
	background-color:#757575;
	height:30px;
	/*border-top: 2px solid #4E4E4E;
	border-bottom: 2px solid #4E4E4E;
	border-left: 2px solid #4E4E4E;
	border-right: 2px solid #4E4E4E;*/
	padding: 5px 5px 5px 5px;
	min-width:80px;
	width: auto;
	color:#FFFFFF;
	cursor:pointer;
	font: 13px Tahoma, Geneva, sans-serif;
	/*font-weight:bold;*/
}
.bgcolor_send_mail_complaint{
	background-color:#F9F9F9;
	
	
	
		.fancybox-opened{
			z-index:9999999!important;
		}
		#preloader{
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#fefefe;
			z-index:9999999;
			height:100%;
		}
		#status{
			width:200px;
			height:200px;
			position:absolute;
			left:50%;
			top:50%;
			background-image:url("../../../www.rp.co.th/rich_in_living/img/loading-rp.gif");
			background-repeat:no-repeat;
			background-position:center;
			background-size:200px auto!important;
			margin:-100px 0 0 -100px;
		}
		.head-project{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:auto;
			background:url('../../../www.rp.co.th/rich_in_living/assets/uploads/4a8a8-bg-color.png') repeat;
			z-index:999;
			padding:15px 0 10px 0;
			text-align:center;
			color:#bea780;
			}
		.font-opa{
			opacity:1;
		}
		h2.title-project{
			padding:0;
			margin:0;
			color:#1A2552;
			width:320px;
			font-size:32px!important;
			display:inline-block;
		}
		.btn-brochure{
			background:url('../../../www.rp.co.th/rich_in_living/img/btn-brochure.png') center center no-repeat;
			width:152px;
			height:58px;
			position:absolute;
			bottom:0;
			background-color:#1A2552;
		}
		a.btn-download,a.btn-print{
			width:140px;
			height:34px;
			display:inline-block;
			margin-right:5px;
			background-color:#bea780;
			padding-top:4px;
			font-size:16px;
			text-align:center;
			color:#404041;
			background:#bea78001;
		}
		a.btn-download:hover,a.btn-print:hover{
			-webkit-transition:all .5s;
			transition:all .5s;
			color:#fff;
			background-color:rgb(190,167,128,0.5);
		}
		@media screen and (max-width:768px){
			.head-project{
				position:relative;
				background:#1A2552;
			}
			.title-project{
				width:300px;
				font-size:24px;
			}
			.btn-brochure{
				bottom:0!important;
				right:0!important;
			}
		}
		@media screen and (max-width:480px){
			.btn-brochure{
				background:url('../../../www.rp.co.th/rich_in_living/img/btn-brochure.png') center center no-repeat;
				background-size:80%;
				width:120px;
				height:58px;
				position:relative;
				bottom:0;
				background-color:#1A2552;
			}
		}
		#load{
			background:url("../../../www.rp.co.th/rich_in_living/img/loading.gif") center center no-repeat;
			display:none;
			width:70px;
			height:70px;
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-35px;
			margin-left:-35px;
		}
		.title-name{
			min-width:100%!important;
		}
		.title-name select{
			padding:6px 0 6px 5px;
		}
		
		table{
			background:transparent;
			border:none;	
		}
		table tr:hover{
			background:#fff;	
		}	
		#career_t_header {		
			background:transparent;	
		}	
		table tr#career_t_header th{		
			background:#404041;
			height:40px;
			color:#BEA780;
			padding:2px; 
		}	
		table tr#career_t_header th:hover{		
			background:#404041;
		}	
		th, td {		
			text-align:center !important;
		}	
		td#title-job{
			text-align:left !important;		
		}	
		
		.fancybox-margin{
			margin-right:17px;
		}
}


 /* +++++++++++++++++ Financial statement+++++++++++++++++++ */
.fi_head_table{
	color:#FFFFFF;
	font-size:13px; 
	font-weight: bold; 
	height: 30px;
	background: #038d4e -webkit-gradient(linear, left top, left bottom, from(#076343), to(#1e7154)) no-repeat;
}

.style_finance_group{
	font-family: "Kanit", sans-serif;
	color: #666666;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
	padding: 5px;
}

.fontcolor_finance_value{color:#6B6B6B;font-size:13px;}
.font_style_end_row{
	font-size:13px; 
	color:#FFFFFF;
	font-weight: bold; 
	height: 30px;
	background:linear-gradient(#096445, #1d7053);
}

.color_1{background-color:#FFF;
line-height: 2;}   
.color_2{
	background-color:#FFFFFF;
	line-height: 2;
	} 
.color_3{
   background-color:#F2F2F2;
   background:url(images/bg_menu.html);
   background-repeat:repeat-x;
   background-position:bottom left;
}
.color_4{
   background-color:#6c9948;
   /*background:url(images/bg_menu.jpg);*/
   background-repeat:repeat-x;
   background-position:bottom left;
} 
.color_5{
	background-color: #F5F5F5;
	line-height: 2;
	}
.color_6{background-color: #C649BA;}
.color_7{background-color: #000000;}
.color_8{background-color: #555555;}
.color_9{
    border-top: 1px solid #e8e8e8 !important;
    border-bottom: 1px solid #e8e8e8 !important;
    border-left: 1px solid #e8e8e8 !important;
    border-right: 1px solid #e8e8e8 !important;
}

.download_fi_bg_color1{border-top: 1px solid #EBEBEB; border-bottom: 1px solid #EBEBEB; border-left: 1px solid #EBEBEB; border-right: 1px solid #EBEBEB;}
.download_fi_bg_color2{background-color:#6c9948;}
.download_fi_bg_color3{}
.download_fi_bg_color4{background:url(images/bg_menu02.html);}
.download_fi_font1{color:#AA0000; font-weight:bold;}

a.finance:link {
	font-size:13px; color: #666666; text-decoration: none;font-weight: bold;
}
a.finance:visited {
	font-size:13px; color: #666666; text-decoration: none;font-weight: bold;
}
a.finance:hover {
	font-size:13px; color: #6c9948; text-decoration: none;font-weight: bold;
}
a.finance:active {
	font-size:13px; color: #666666; text-decoration: none;font-weight: bold;
}

a.fi_year:link {
	font-size:14px; color: #666666; text-decoration: none;font-weight: bold;
}
a.fi_year:visited {
	font-size:14px; color: #666666; text-decoration: none;font-weight: bold;
}
a.fi_year:hover {
	font-size:14px; color: #6c9948; text-decoration: none;font-weight: bold;
}
a.fi_year:active {
	font-size:14px; color: #666666; text-decoration: none;font-weight: bold;
}



/*----------------------------  Page ------------------------------------*/


a.page_link {
	font-family: Tahoma, Arial, Segoe, sans-serif;
	font-size: 11px;
	color: #50B4E6;
}

.current	{
	font-family: Tahoma, Arial, Segoe, sans-serif;
	font-size: 11px;
	color: #a8afb2;
}

.paging{
	font-size: 14px !important;
	color:#696a6c;
	TEXT-DECORATION: none;
	cursor:pointer;
}

.page{
	font-family: 'PSL160Pro';
	font-size: 20px;
	color:#696a6c;
	TEXT-DECORATION: none


}
.active{
	
	font-size: 13px;
	color:#2389DC;
	font-weight:bold;
	TEXT-DECORATION: none
}


.font_page:link {
	
	font-size: 13px;
	color:#222;
	TEXT-DECORATION: none
}

.download_fi_bg_color2 td{
	
	border-bottom:1px solid #FFF;
	
	
}


/* .................. Fact Sheet .................. */
.header_factsheet { BACKGROUND-COLOR: #00a348; FONT-FAMILY: Tahoma; FONT-SIZE: medium; FONT-WEIGHT: bold;}
.header_factsheet td 
{
	border-bottom: 4px solid #076343;
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 1px; 
	HEIGHT: 1px; 
	PADDING-TOP: 5px;  
}

/* +++++++++++++++++ style for send mail+++++++++++++++++++ */
.ad_bgcolor_1{background-color:#FFFFFF}
.style41_sp{font-weight: bold;color: #FFFFFF; font-size:13px;}
.style_in_form {
   font-family: Tahoma;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
}
.style_title {
	font-family: Tahoma;
	font-size: medium;
	color: #51585b;
}
.style_title_a {
	font-family: Tahoma;
	font-size: medium;	
	color: #007ce4;
	font-weight: bold;
}
.style49 {
font-family: Tahoma;
font-size: 13px;	
color: #51585b;
}
.stylefont_a{font-size: 13px; color: #51585b; font-family: Tahoma;}
.stylefont{font-size: 13px; color: #51585b; font-family: Tahoma;}
.fontcolor2{
	font-family: Tahoma;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	color:#888888;
}
.fontcolor3{
	font-family: Tahoma;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	color:#51585b;
}
.bgcolor_send_mail{background-color: #EEEEEE;}
.bgcolor_send_mail1{background-color: #FFFFFF;}
.bgcolor_send_mail2{background-color: #FFFFFF;}
.font_footer_send_mail {color: #51585b;font-family: Tahoma;font-size: 13px;}
}
.style18 {font-family: Tahoma; font-weight: bold; font-size: 13px; color: #666666; }
.style4 {
	COLOR: #278BDC;font-weight: bold;
}


/* +++++++++++++++++ General Meeting +++++++++++++++++++ */

.font_gm{
font-family: 'PSL160Pro';
    font-size: 20px;
}

.color_gm_head{
/*background-color:#FFFFFF;*/
}

.color_gm_head_1{
/*background-color:#0080C0;*/
/*background-color:#DADADA;
color:#000000;*/
/*height:30px;*/
font-family: "Kanit", sans-serif;
font-size: 20px;
background: #87C6F8;
background: #038d4e -webkit-gradient(linear, left top, left bottom, from(#038d4e), to(#076343)) no-repeat;
background: #87C6F8 -moz-linear-gradient(top, #4993DC, #87C6F8) no-repeat;
/*border-bottom: 1px solid #333;
border-top: 1px solid #C0C0C0;*/
text-align: left;
margin: 0;
padding: 10px 10px;
}
.color_gm{
background-color:#FEFEFE;
/*height:25px;*/

background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#F9F9F9), to(#FEFEFE));
}
.color_gm_2{
background-color:#FFFFFF;
height:40px;
}
.color_gm_3{
background-color:#FFFFFF;
height:65px;
}

#nav-sub-meeting{margin: 0; padding: 0;}
#nav-sub-meeting .here{font-weight: bold;color: #000;}
#nav-sub-meeting li.sub-level-meeting{margin: 0px 0;list-style: none;}
#nav-sub-meeting li.sub-level-meeting div{   padding: 0px; cursor: pointer;}
#nav-sub-meeting li.sub-level-meeting div:hover{ text-decoration: none;}
#nav-sub-meeting li.sub-level-meeting.sub-collpase ul{display: none;margin-bottom:0px;}
#nav-sub-meeting li.sub-level-meeting ul{margin: 0;padding: 0px 0;}
#nav-sub-meeting li.sub-level-meeting ul li
{     
    text-align:left;
    vertical-align:top;
    list-style: none;
    padding-bottom:0px;
    border:solid 0px #000;
	padding-left: 10px;
	font-size:14px;
}


#nav-sub-meeting li.sub-level-faqs ul li.help-item-last{border: none;}
li.sub-level-meeting div{ border:solid 0px #000; margin-left:0px; margin-right:0px; margin-top:0px;margin-bottom:0px; cursor:hand;}
#nav-sub-meeting ul {display: none;}

.font_title_treeview_datetime {font-family: "Kanit", sans-serif; COLOR: #93328f; FONT-SIZE: 11px; FONT-WEIGHT: bold}
.fontsubhead {font-family: "Kanit", sans-serif; COLOR: #F9F9F9; FONT-SIZE: 14px; FONT-WEIGHT: bold;}
.clildmenu_visibled{display:none !important;}


td .border-line{
	border-top: 5px solid #1e7154  !important;
	border-bottom: 5px solid #1e7154  !important;
	border-left: 5px solid #1e7154  !important;
	border-right: 5px solid #1e7154  !important;
	
}

.capcha-wrap {
	margin: 15px 0 30px;
    text-align: left;
    border: 1px #ccc solid;
    display: table;
    border-radius: 4px;
    overflow: hidden;
}

.tab-bar {
    padding: 10px 15px;
    text-align: center;
    font-weight: 500;
    border-top: 1px #f6f6f6 solid;
    border-bottom: 5px #e6e6e6 solid;
    background: #ffffff;
    color: #038d4e;
}

.topic-file {
    padding: 10px 15px;
}

.border-bottom {
    border-bottom: 1px #eee solid;
}

.dwnld-w {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

.banner-event {
    width: 100%;
    min-height: 20px;
    overflow: hidden;
    background: #fff;
    margin: 30px 0;
    padding-bottom: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

a:hover {
	color: #bea780 !important; 
	/*color: inherit;*/
	text-decoration: none !important;
}

.topic-file a {
    font-size: 12px;
    display: table-cell;
    color: #555;
    cursor: pointer;
    line-height: initial;
    text-transform: uppercase;
}