.ui-daterangepickercontain {
	Z-INDEX: 999; POSITION: absolute ;
}
.ui-daterangepickercontain .ui-daterangepicker {
	WIDTH:470px;BACKGROUND-IMAGE: none !important; PADDING-BOTTOM: 5px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; DISPLAY: inline; FLOAT: left; CLEAR: left; PADDING-TOP: 5px !important
}
.ui-daterangepicker UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.ui-daterangepicker .ranges {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.ui-daterangepicker .range-start {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.ui-daterangepicker .range-end {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.ui-daterangepicker .ranges {
	POSITION: relative; PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; /*MARGIN-LEFT: 10px;*/MARGIN-LEFT: 0px; PADDING-TOP: 5px
}
.ui-daterangepicker .range-start {
	MARGIN-LEFT: 5px
}
.ui-daterangepicker .range-end {
	MARGIN-LEFT: 5px
}
.ui-daterangepicker BUTTON.btnDone {
	POSITION: absolute; MARGIN: 0px 5px 5px 0px; BOTTOM: 0px; CLEAR: both; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 0px
}
.ui-daterangepicker UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; /*WIDTH: 17.6em;*/  WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.ui-daterangepicker LI {
	PADDING-BOTTOM: 1px; LIST-STYLE-TYPE: none; MARGIN: 1px 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 1px
}
.ui-daterangepicker LI.ui-state-hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-daterangepicker LI.ui-state-active {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-daterangepicker LI.preset_0 {
	MARGIN-TOP: 1.5em !important
}
.ui-daterangepicker .ui-widget-content A {
	TEXT-DECORATION: none !important;
}
.ui-daterangepicker LI A {
	/*MARGIN: 0.3em 0.5em; */DISPLAY: block; FONT-WEIGHT: normal
}
.ui-daterangepicker LI SPAN {
	/*MARGIN: 0.3em 0.2em; FLOAT: right*/MARGIN: 100px 0px 0px 0px;/*background-color:#000000;*/
}
.ui-daterangepicker .title-start {
	PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0.2em; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; FONT-SIZE: 15px; PADDING-TOP: 0px;font-family: 'Conv_ThaiSansNeue-Light';
}
.ui-daterangepicker .title-end {
	PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0.2em; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; FONT-SIZE: 15px; PADDING-TOP: 0px;font-family: 'Conv_ThaiSansNeue-Light';
}
.ui-daterangepicker .ui-datepicker-inline {
	/*FONT-SIZE: 1em*/
}
.ui-daterangepicker-arrows {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 204px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.ui-daterangepicker-arrows INPUT.ui-rangepicker-input {
	PADDING-BOTTOM: 2px; MARGIN: 0px 2px 0px 20px; PADDING-LEFT: 2px; WIDTH: 158px; PADDING-RIGHT: 2px; HEIGHT: 1.1em; PADDING-TOP: 2px
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
	POSITION: absolute; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; TOP: 2px; PADDING-TOP: 1px
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
	POSITION: absolute; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; TOP: 2px; PADDING-TOP: 1px
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev {
	LEFT: 2px
}
.ui-daterangepicker-arrows .ui-daterangepicker-next {
	RIGHT: 2px
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-daterangepicker-arrows .ui-daterangepicker-next:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ui-daterangepicker-arrows .ui-daterangepicker-next:focus {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}





